# General
*.swp

# Chisel
generated/*
project/*
!/project/plugins.sbt
target/*

# Visual Studio
.vscode
.metals
.bloop
.bsp

# DynamicFifo specific
*.rpt
#generated/*.rpt
#generated/verilogCoverage/
#generated/synTestCases/
#generated/scalaCoverage/
#generated/scalaCoverage/
#generated/scalaCoverage/scoverage-report

