# General
*.swp

# Chisel
generated/*
project/*
target/*

# Visual Studio
.vscode
.metals
.bloop
.bsp

# DynamicFifo specific
!*.rpt
!generated/*.rpt
!generated/*/*/*.rpt
!generated/*/*.cov
!generated/*/*/yosys.log
!generated/scalaCoverage/scoverage-report/*
!project/plugins.sbt
!project/.gitkeep

